<SfDialog Width="400px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header> @Title Bonus </Header>
        <Content>
            <EditForm Model="Bonus" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Employee Id</label>
                            <InputNumber @bind-Value="Employee.Id" class="form-control" disabled></InputNumber>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Employee Name</label>
                            <InputText @bind-Value="Employee.Name" class="form-control" disabled></InputText>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Bonus Name</label>
                            <InputText @bind-Value="Bonus.Name" class="form-control" disabled="@isDisabled"></InputText>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Bonus Amount</label>
                            <InputNumber @bind-Value="Bonus.BonusAmount" class="form-control" disabled="@isDisabled"></InputNumber>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Bonus Date</label>
                            <InputDate @bind-Value="Bonus.BonusDate" class="form-control" disabled="@isDisabled"></InputDate>
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Bonus Reason</label>
                            <InputTextArea @bind-Value="Bonus.Reason" class="form-control" rows="5" disabled="@isDisabled"></InputTextArea>
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        @if (Title == "View")
        {
            <DialogButton Content="CLOSE" IsPrimary="true" OnClick="CloseDialog" />
        }
        else
        {
            <DialogButton Content="Save" IsPrimary="true" OnClick="Save" />
        }
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public Employee Employee { get; set; } = new();
    [Parameter] public EventCallback<Bonus> HandleSaveOperationEvent { get; set; }

    [Parameter] public Bonus Bonus { get; set; } = new();

    private bool IsVisible { get; set; } = false;

    public string Title { get; set; } = "Add";
    private bool isDisabled => Title == "View";

    private async void Save() => await HandleSaveOperationEvent.InvokeAsync(Bonus);

    public void OpenDialog()
    {
        Bonus.EmployeeId = Employee.Id;
        if (Title == "View") Employee = Bonus.Employee!;
        IsVisible = true;
        StateHasChanged();
    }

    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void ChangeTitle(string title)
    {
        Title = title;
    }
}
