<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"> </DialogEvents>
    <DialogTemplates>
        <Header> Change Password </Header>
        <Content>
            <EditForm Model="Employee" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Id</label>
                            <input @bind="Employee.Id" class="form-control" disabled />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Name</label>
                            <input @bind="Employee.Name" class="form-control" disabled />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Email</label>
                            <input @bind="Employee.Email" class="form-control" disabled />
                        </div>  
                        <div class="form-group mt-2">
                            <label class="form-label">Current Password</label>
                            <input type="password" @bind="ChangePasswordRequest.CurrentPassword" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">New Password</label>
                            <input type="password" @bind="ChangePasswordRequest.NewPassword" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Confirm Password</label>
                            <input type="password" @bind="ConfirmPassword" class="form-control" />
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    [Parameter] public Employee Employee { get; set; } = new();
    [Parameter] public EventCallback<ChangePasswordRequest> HandleSaveOperationEvent { get; set; }

    private ChangePasswordRequest ChangePasswordRequest { get; set; } = new();
    private string? ConfirmPassword { get; set; }

    private bool IsVisible { get; set; } = false;

    private async void Save()
    {
        if (string.IsNullOrEmpty(ChangePasswordRequest.CurrentPassword) || string.IsNullOrEmpty(ChangePasswordRequest.NewPassword))
        {
            await dialogService.AlertAsync("You need to provide your current password and new password.", "Alert!");
            return;
        }

        if (ChangePasswordRequest.NewPassword != ConfirmPassword)
        {
            await dialogService.AlertAsync("The new password and the confirmation password do not match.", "Alert!");
            return;
        }

        await HandleSaveOperationEvent.InvokeAsync(ChangePasswordRequest);

    }

    public void OpenDialog()
    {
        IsVisible = true;
        ChangePasswordRequest = new();
        ConfirmPassword = "";
        ChangePasswordRequest.Id = Employee.ApplicationUser!.Id;
        StateHasChanged();
    }

    public void CloseDialog()   
    {
        IsVisible = false;
        StateHasChanged();
    }

}

